.header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
  border-bottom: 1px solid rgba(10, 15, 21, 0.15);
}

.header__logo,
.footer__logo {
  flex: 0 0 auto;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

.header__logo {
  width: 240px;
  color: #222631;
}

.header__nav {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header__link,
.footer__link {
  color: rgba(34, 38, 49, 0.8);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.header__link:hover,
.header__link--active {
  color: #222631;
  font-weight: 500;
}

.header__button {
  width: 240px;
  height: 40px;
  padding: 12px 24px;
  font-weight: 400;
  line-height: 24px;
}
